.inner_cont {
  position:relative;
  width:100%;
}

.header, .footer {
	display:block;
	width:calc(100% - 20px);
	
	border-bottom: solid 1px blue;
	background-color:white;
	padding:10px;
	margin:0px;
}

.bc_btn {
	display:inline-block;
	border: solid 1px blue;
	border-radius: 20px;
	background-color:#DDDDFF;
	padding:3px 10px 3px 10px;
	margin:0px 3px 5px 3px;
}

.bc_btn:hover,.bc_btn:active{
	background-color:#AAAAFF;
}

.bc_btn_not_view {
	color:#777777;
	background-color:#EEEEFF;
	border-color: #9999FF;
}

.bc_btn_not_view:hover,.bc_btn_not_view:active{
	background-color:#EEEEFF;
}

.bc_btn_current {
	background-color:#7777FF;
}

.bc_btn_current:hover,.bc_btn_current:active{
	background-color:#7777FF;
}

.bc_btn_invalid {
	border-radius: 0px;
	background-color:#FF0000;
}

.bc_btn_invalid:hover,.bc_btn_invalid:active{
	background-color:#FFAA00;
}


.fw_btn {
	display:inline-block;
	padding:0px;
	margin:0px 3px 0px 3px;
	width:30px;
	height:24px;
	background-repeat: no-repeat;
	
	border-radius: 20px;
    background-size: 30px 20px;
    background-position: 0px 2px;
	border: solid 1px blue;
}

.fw_btn:hover, .fw_btn:active {
	background-color:#AAAAFF;
}

.bc_btn_close{
	float:right;
	background-image: url("cancel.png");
}

.fw_btn_prev{
	background-image: url("leftArrow.png");
}

.fw_btn_next{
	background-image: url("rightArrow.png");
}

.fw_btn_end{
	background-image: url("ok.png");
}

.fw_btn_hidden {
	display:none;
}


.sect_cont {
  display:block;
  max-height:calc(100% - 60px);
  width:100%;
}

.sect_hidden {
	display:none;
}

.sect {
	padding:10px;
}

.sect_title{
	font-weight:700;
	margin-bottom:10px;
}
.sect_descr{
	font-style:italic;
	margin-bottom:10px;
}

.fld{
	margin-bottom:10px;
}

.cond_excluded{
	display:none;
}

.lbl_invalid{
	color:red;
}

.fld_input{
	background-color:#DDDDDD;
}

.fld_txtarea{
	width:100%;
}

.qr{
	display:none;
}

