.inner_cont {
  position:relative;
  width:100%;
  height:100%;
}

.header, .footer {
	display:block;
	width:calc(100% - 20px);
	overflow-x:scroll;
	border-bottom: solid 1px blue;
	background-color:white;
	padding:10px;
}

.bc_btn {
	display:inline-block;
	border: solid 1px blue;
	border-radius: 10px;
	background-color:#DDDDFF;
	padding:3px 10px 3px 10px;
	margin:0px 3px 0px 3px;
}

.bc_btn_not_view {
	color:#777777;
	background-color:#EEEEFF;
	border-color: #9999FF;
}

.bc_btn_current {
	background-color:#7777FF;
}

.bc_btn_invalid {
	background-color:#FF0000;
}


.bc_btn_close, .btn_next, .btn_end {
	display:inline-block;
	float:right;
	padding:3px 10px 3px 10px;
	margin:0px 3px 0px 3px;
}

.btn_hidden {
	display:none;
}


.sect_cont {
  display:block;
  height:calc(100% - 40px);
  width:100%;
  overflow-y:scroll;
}

.sect_hidden {
	display:none;
}

.sect {
	padding:10px;
}

.sect_title{
	font-weight:700;
	margin-bottom:10px;
}
.sect_descr{
	font-style:italic;
	margin-bottom:10px;
}

.fld{
	margin-bottom:10px;
}

.lbl_invalid{
	color:red;
}



